<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>

    <!--  Bootstrap CSS  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <!--  Custom Style  -->
    <link rel="stylesheet" th:href="@{/css/dashboard/navbar.css}">

</head>
<body>

<div th:fragment="navbar">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="adjust-nav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/home}"><i class="fa fa-square-o"></i>&nbsp;Shop Laptop</a>
            </div>

            <!-- Hiển thị nếu người dùng đã đăng nhập -->
            <div sec:authorize="isAuthenticated()">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right" style="display: flex; align-items: center">
                        <li>Chào mừng, <span sec:authentication="name"></span>!</li>
                        <li>
                            <a href="/logout">Đăng xuất
                                <i style="margin-left: 8px" class="fas fa-sign-out-alt"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Hiển thị nếu người dùng chưa đăng nhập -->
            <div sec:authorize="isAnonymous()">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/login">Đăng nhập</a></li>
                        <li><a href="/register">Đăng ký</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
